* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #181818;
}

.App {
  user-select: none;
}

.flex {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.main-area {
  display: flex;
  height: calc(100vh - 70px);
}

.sidebar {
  width: 250px;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
  overflow: hidden;
  border-right: 1px solid rgb(232, 232, 232);
}

.navigation {
  padding: 0 2rem;
  box-shadow: 0 2px 5px rgb(207, 207, 207);
}

.app-title {
  font-size: 1.3rem;
  padding: 1.2rem;
  text-decoration: none;
  font-weight: 700;
  color: blueviolet;
}

.links {
  font-weight: 400;
  color: #181818;
}

.post-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.main-content {
  padding: 0 1rem;
  width: calc(100vw - 450px);
  height: calc(100vh - 70px);
  overflow-y: scroll;
}

.sort-bar {
  width: 200px;
}

.postcard {
  display: flex;
  max-width: 610px;
  list-style: none;
  padding: 1rem 2rem;
  margin: 3rem auto;
  box-shadow: 0 2px 5px rgb(218, 218, 218);
}

.comment-card {
  max-width: 610px;
  list-style: none;
  padding: 1rem 2rem;
  margin: 3rem auto;
  box-shadow: 0 2px 5px rgb(218, 218, 218);
}

.vote-box {
  padding-right: 1rem;
}

.tags {
  padding: 2px 15px;
  margin-right: 0.5rem;
  background-color: #892be251;
  border-radius: 6px;
}

.post-head,
.post-content {
  padding: 0.8rem 0;
}

.post-comment {
  padding: 0.8rem 0 0 3rem;
}

.card-action {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.list-post {
  list-style: none;
}

.goback {
  display: block;
  padding: 1rem;
  font-size: 1.5rem;
}
